:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255 0 112 / 40%);
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-bg-color: #ff0070;
  --title-decor-text-color: #000028;
}

.theme-dark .rec-decor {
  display: inline-block;
}
